@media (prefers-color-scheme: dark) {
    * {
        --text-color: white;
        --bg-color: black;
    }
}

@media (prefers-color-scheme: light) {
    * {
        --text-color: black;
        --bg-color: white;
    }
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}

body {
    margin: 1em;
    padding: 2em;
    border: 2px solid darkslategray;
}