@media (prefers-color-scheme: dark) {
    * {
        --text-color: #eee;
        --bkg-color: #121212;
    }
}

@media (prefers-color-scheme: light) {
    * {
        --text-color: #eee;
        --bkg-color: #121212;
    }
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bkg-color);
    color: var(--text-color);
}