@media (prefers-color-scheme: dark) {
    * {
        --text-color: #eee;
        --bg-color: #121212;
    }
}

@media (prefers-color-scheme: light) {
    * {
        --text-color: #000;
        --bg-color: #fff;
    }
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}

body {
    height: 97.25vh; /* slightly less than 100 to allow room for taskbar at bottom of screen */
    margin: 1em;
    padding: 2em;
    border: 2px solid darkslategray;
    overflow-y: hidden;
}