h1
{
    font-size         : 5vw;
}

p
{
    font-size         : 2.5vw;
}

.placeholder
{
    min-height        : 1em;
    margin-top        : 1em;
}

.title
{
    font-weight       : bolder;
    letter-spacing    : 1vw;
    text-align        : center;
    text-transform    : uppercase;
    margin-bottom     : 0;
    line-height       : 1.25em;
    width             : fit-content;
}

.title-subtext
{
    font-weight       : lighter;
    text-align        : center;
    margin-top        : 0;
    color             : gray;
    width             : 100%;
}

.big-text
{
    font-size         : 1.75em;
}

.decorated
{
    text-decoration   : underline darkslategray solid 0.25vw;
}

.with-outline
{
    outline           : 1px solid lightgrey;
}


.flex-row
{
    display           : flex;
    flex-direction    : row;
    width             : 100%;
    height            : fit-content;
}

.flex-column
{
    display           : flex;
    flex-direction    : column;
    width             : fit-content;
    height            : auto;
}

.left
{
    float             : left;
    padding-left      : 0.25em;
    margin-right      : auto;
}

.centered
{
    align-self        : center;
    padding-left      : 0.125em;
    padding-right     : 0.125em;
    margin            : auto
}

.right
{
    float             : right;
    padding-right     : 0.25em;
    margin-left       : auto;
}

.no-margin
{
    margin            : 0;
}
