<div id="header" class="">
    <div class="centered flex-column">
        <h1 class="centered flex-row title">
            <span class="big-text">R</span><span class="decorated">ediculous</span>
            <span class="big-text">T</span><span class="decorated">itle</span>
        </h1>
        <p class="centered flex-row title-subtext">
            <span class="left">
                <span class="no-margin">left |</span>
                <span class="no-margin">left |</span>
                <span class="no-margin">left  </span>
            </span>
            <span class="centered">
                <span class="no-margin">  center  </span>
                <span class="no-margin">| center |</span>
                <span class="no-margin">  center  </span>
            </span>
            <span class="right">
                <span class="no-margin">  right</span>
                <span class="no-margin">| right</span>
                <span class="no-margin">| right</span>
            </span>
        </p>
    </div>
</div>

<div id="section-alpha" class="placeholder with-outline">
  <div style="width:50vw;" class="with-outline">
    <h2 class="centered flex-column decorated title">Skills</h2>
    <div class="flex-row title-subtext">
      <span class="left">Name</span>
      <span class="right">Level</span>
    </div>
    <ul style="list-style-type: square; padding: 0 1em 0 2em;" class="no-margin">
      <li *ngFor="let skill of skills">
        <span class="left">{{skill.name}}</span>
        <span class="right">{{skill.level}}</span>
      </li>
    </ul>
  </div>
</div>

<div id="section-beta" class="placeholder with-outline">

</div>

<div id="section-crayon" class="placeholder with-outline">

</div>

<div id="section-delta" class="placeholder with-outline">

</div>

<div id="section-epsilon" class="placeholder with-outline">

</div>

<div id="section-frisbee" class="placeholder with-outline">

</div>

<div id="section-gamma" class="placeholder with-outline">

</div>

<div id="section-hayabusa" class="placeholder with-outline">

</div>
